<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  padding: 20px 62px;
  text-align: justify;
  font-size: 10px;
  margin: auto;
  opacity: 0.5;
  transition: 0.3s;
  display: block  ;
  text-decoration: none;
  cursor: pointer;
}
.heading {
	font-size:200%;
	color:blue;
	font-style:bold;
	font-family:Courier;
	text-align:center;
	}

.button:hover {opacity: 1}
</style>
</head>
<body>

<h2 class="heading">TimeStamp Payment Options</h2>

<button class="button"><img src="paperairplane.jpg" width="140" align="left" height="140" alt="basic">
<span style="font-family:Courier">
<font size="6">
<font color="blue">
<div align="center">Basic
</font></div>
<font size="3">
<div>- $10/month 
<div>- 50 Users
</font>
</button>

<button class="button"><img src="airplane.jpg" width="140" align="left" height="140" alt="Standard">
<span style="font-family:Courier">
<font size="6">
<font color="blue">
<div align="center">Standard
</font></div>
<font size="3">
<div>- $25/month
<div>- 200 Users
</font>
</button>

<button class="button"><img src="spaceship.png" width="140" align="center" height="140" alt="pro">
<span style="font-family:Courier">
<font size="6">
<font color="blue">
<div align="center">Pro
</font></div>
<font size="3">
<div>- $40/month
<div>- 500 Users
</font>
</button>

</body>
</html>